%h3 Path in three short teachings.
%p 
  Do not do anything that takes you out of your body.
%p
  When sitting alone watch your mind.
  When in public watch your speech.
%p
  Practice kindness.
%p
= button_to "Login", :action => :new



