#centre_block_1
  = image_tag "logo 200x200.png", :class=>"img-responsive", :id=>"logo"
  = link_to image_tag('login.png'), url_for({:controller => 'sessions', :action => 'app_landing'}), :class =>'login_btn'
  %p
  %h3 Hey #{@first_name}, thanks for your help.
    

  




