  
= image_tag "logo 200x200.png", :class=>"img-responsive", :id=>"logo"


%p
= link_to image_tag('cards.png'), url_for({:controller => 'intentions', :action => 'gallery'}), :id => 'centre_block_1'
%p
= link_to image_tag('app.png'), url_for({:controller => 'intentions', :action => 'index'}), :id => 'app_menu_button'


