%p
= link_to image_tag('cards.png'), url_for({:controller => 'intentions', :action => 'gallery'}), :id => 'cards_menu_button'
%p
= link_to image_tag('app.png'), url_for({:controller => 'intentions', :action => 'index'}), :id => 'app_menu_button'
