%p
= link_to image_tag('cards.png'), url_for({:controller => 'intentions', :action => 'gallery'}), :class => ''
%p
%p
= link_to image_tag('app.png'), url_for({:controller => 'intentions', :action => 'index'}), :class => ''
