%h4 Great. You are now registered at MoreMindfully.com.  

%p 
  We're here to help you practice mindfulness. 
%p  
  "But mindfulness is simple" you say.
  "True, true". "But that doesn't make it easy to do".
%p  
  People find it difficult to interrupt their busy schedule and practice. 
  If they do stop and ´sit´ they can find it difficult to be with a 
  thinking-mind that is overly busy. And as for being more mindful in everyday life,
  well, that's more difficult still to 'pull off'. 
%p  
  Yup, we know mindfulness is not marketed this way. But then we're meditators,
  not marketeers.
%p  
  Mindfulness is a great thing to do. All that scientific research means something. 
  Be willing to approach the pracice as if learning a musical instrument. It will take 
  time, patience and initially you may well think you can't do it. (That's normal)
%p  
  Peace, stillness, spaciousness and clarity are natually within you.
  All you have to do is create the conditions for them to 'stand out' more in
  your experience.  
%p
  Right now we are in closed beta testing. So we will contact you again once we are
  able to take on more people. 
%p
  Thank you for your interest.
%p 
  Yours sincerely,
  The MoreMindfully team.