-#  This file is app/views/movies/index.html.haml
%h2#header2 All Users
%p
- @users.each do |u|
  %tr
    %td= u.first_name
    %td= u.second_name
    =link_to "more details »", u
    %p
    
%p      
= link_to "New", new_user_path, :method => :get
%p
- if @current_user.email == "donal.quirke@gmail.com"
  = link_to "Deliver Daily Intentions", users_deliver_daily_intention_path, :method => :get

