%p
%p
  If I could drop the 'I's like a Buddha
%p
  Well, let us call that a noble ambition.
%p
  For now I'm stuck with moi-meme
%p
  And the eyes are everywhere. 
%p
  
  = link_to "Credo", "http://youtu.be/qCzFRo-0OWA", :target => "_blank"
%p 
%h3 Create possibilities.
